@page
@model Student_registration.Pages.RegisterModel
<h2>Student Registration Form</h2>
<form method="post">
    <div>
        <label>Name:</label>
        <input asp-for="Student.Name" />
        <span asp-validation-for="Student.Name" style="color:red"></span>
    </div>
    <div>
        <label>Id:</label>
        <input asp-for="Student.Id" />
        <span asp-validation-for="Student.Id" style="color:red"></span>
    </div>
    <div>
        <label>Age:</label>
        <input asp-for="Student.Age" />
        <span asp-validation-for="Student.Age" style="color:red"></span>
    </div>
    <div>
        <label>Email:</label>
        <input asp-for="Student.Email" />
        <span asp-validation-for="Student.Email" style="color:red"></span>

    </div>
    <button type="Submit">Submit</button>
</form>
@if(Model.Message != null)
{
    <p style="color:green">@Model.Message</p>
}

